* {
  --greyBlue: #a0b3da;
  --darkPink: #cf3673;
  --lightPink: #f0dede;
  box-sizing: border-box;
  margin: 0;
}

body {

  background-color: var(--greyBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-wrapper {
  position: relative;
}

#my-canvas {
  /* width: 100vw; */
  border: 5px solid var(--);
  background-color: var(--lightPink);
}

#score-board {

  position: absolute;
  /* background-color: red; */
  width: 100%;
  top: 0;
  left: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

#game-over {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: column;
  align-items: center;
}

#title-container {
  position: absolute;
  display: flex;
  top: 70%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  align-items: center;
}