* {
  --greyBlue: #a0b3da;
  --darkGreyBlue: #748cbb;
  --darkPink: #cf3673;
  --lightPink: #f0dede;
  /* --lightPink: #2b2c3a; */
  box-sizing: border-box;
  margin: 0;
  font-family: "Gothic A1", sans-serif;
  font-weight: 800;
  letter-spacing: 5px;

}


body {
  background-color: var(--greyBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;

}

h1 {
  font-size: 30px;
}


#game-wrapper {
  position: relative;
  width: 700px;
  height: 900px;
}

#my-canvas {
  background-color: var(--lightPink);
  transform: scale(50%);
  transform-origin: top left;
  position: absolute;
  ;
}

#debug-container {
  display: none;
  position: absolute;
  color: black
}

#score-board {
  position: absolute;
  color: var(--darkGreyBlue);
  width: 100%;
  top: 0;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 15px 25px;
}

#score-container {
  grid-column-start: 2;
  text-align: center;
}

#level-container {
  text-align: end;
}

#title-container {
  text-align: center;
  position: absolute;
  color: var(--darkGreyBlue);
  display: flex;
  top: 60%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  align-items: center;
}

#game-over {
  display: none;
  position: absolute;
  color: var(--darkPink);
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex-direction: column;
  align-items: center;
}